div[role="listitem"] div:first-child .checkbox__icon {
  display: block;
}
.checkbox__wrapper {
  padding-right: 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.checkbox__icon {
  display: none;
  cursor: pointer;
}

div[gmgparticipantchecked="true"] {
  opacity: 0.5;
}

h2 {
  display: flex;
  justify-content: space-between;
}
.dice__wrapper {
  height: 33px;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
}
